[Desktop Entry]
Comment=Red version of ArchYellow
Name=ArchRed
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Thea Barnes
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=thea@tsbarnes.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=LGPL 2.1+
X-KDE-PluginInfo-Name=com.tsbarnes.ArchRed
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/tsbarnes/ArchRed
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-fallbackPackage=org.kde.breeze.desktop
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1600217,kns://icons.knsrc/api.kde-look.org/1556287,kns://plasma-themes.knsrc/api.kde-look.org/1600226
X-Plasma-MainScript=defaults
